<div class="bg-color-marine">
    <div class="d-flex container py-2">
        <div>
            <img src="../../../assets/images/logo-govco.png" alt="logo-govco" style="width: 110px;">
        </div>
        <span class="mr-auto"></span>
        <div>
            <img href="#" src="../../../assets/images/iconos/icono-facebook.png" alt="logo-marca-colombia" class="icon">
            <img href="#" src="../../../assets/images/iconos/icono-twitter.png" alt="logo-marca-colombia" class="icon">
            <img href="#" src="../../../assets/images/iconos/icono-youtube.png" alt="logo-marca-colombia" class="icon">
            <img href="#" src="../../../assets/images/iconos/icono-flickr.png" alt="logo-marca-colombia" class="icon">
        </div>
    </div>
</div>
<div class="d-flex container mt-5 mb-1">
    <div>
        <img src="../../../assets/images/logos-sistemas/logo-control-disciplinario-minjusticia.png" alt="control-disciplinario" style="width: 150px; cursor: pointer; margin-top: -16px;" (click)="onPrincipal()">
    </div>
    <span class="mr-auto"></span>
    <div>
        <img src="../../../assets/images/logo-minjusticia.jpg" alt="logo-minjusticia" style="width: 240px; cursor: pointer;" (click)="onPrincipal()">
    </div>
</div>