<div class="bg-color-marine">
    <div class="d-flex container py-2">
        <div>
            <img src="../../../assets/images/logo-colmag.png" alt="logo-colmag" style="width: 45px; height: 45px;">
        </div>
        <span class="mr-auto"></span>
        <div>
            <img href="#" src="../../../assets/images/iconos/icono-facebook.png" alt="logo-facebook" class="icon">
            <img href="#" src="../../../assets/images/iconos/icono-twitter.png" alt="logo-twitter" class="icon">
            <img href="#" src="../../../assets/images/iconos/icono-youtube.png" alt="logo-youtube" class="icon">
            <img href="#" src="../../../assets/images/iconos/icono-flickr.png" alt="logo-flickr" class="icon">
        </div>
    </div>
</div>
