<div class="bg-color-marine">
    <div class="container py-3">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="d-flex align-items-center">
                    <div>
                        <img src="../../../assets/images/iconos/icono-direccion.png" alt="icon-direccion" class="icono">
                    </div>
                    <div>
                        <p>Dirección: Calle Phoneix y Alcarvan 1234</p>
                        <p>Código Postal 110231 Hogwarts, nolocation</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="d-flex align-items-center">
                    <div>
                        <img src="../../../assets/images/iconos/icono-correo-electronico.png" alt="icon-correo-electronico" class="icono">
                    </div>
                    <div>
                        <p>Correo Electrónico</p>
                        <p>soporte@hogwarts.mag</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="d-flex align-items-center">
                    <div>
                        <img src="../../../assets/images/iconos/icono-contacto-telefonico.png" alt="icon-contacto-telefonico" class="icono">
                    </div>
                    <div>
                        <p>Contacto Teléfono</p>
                        <p>(+57) (1) 777 31 00 Ext: 12345</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 text-center mt-2">
                <a class="sub mx-1" href="#">Términos y Condiciones</a>
                <a class="sub mx-1" href="#">Política de Seguridad</a>
            </div>
        </div>
    </div>
</div>